/* ABout Me Section */
.aboutme_text{
    color: #4b6060;
    font-size: smaller !important;
    line-height: 22px !important;
    white-space: pre-line;
}

/* Timelien section */

.resume_timeline .resume_content .timeline_title{
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-top: -5px;
    margin-bottom: -7px;
}

.resume_timeline .resume_content .timeline_date{
    margin-top: 12px;
    color: darkslategray;
}

.resume_timeline .resume_content .timeline_description{
    color: gray;
    font-size: small;
    margin-top: 6px;
}
